body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navWrapper {
    width: 100vw;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 100;
}

.nav {
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.navbar {
    width: 40%;
    display: flex;
}

.navbar a {
    width: 90%;
    text-decoration: none;
    display: inline-flex;
    justify-content: space-evenly;
    color: black;
}

.coinsNumber {
    min-width: 4%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}
.coinsNumber img {
    width: 24px;
    height: 24px;
}
.coinsNumber p {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
}

.navRegister {
    min-width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navRegister a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.navPrijava {
    width: 40%;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: #2559D2 1px solid;
    border-radius: 5%;

}

.navRegg {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2559D2;
    border-radius: 5%;
}

.navRegister h1 {
    font-size: 14px;
}

.navPrijava h1 {
    color: #2559D2;
}

.navRegg h1 {
    color: #ffff;
}

.mainWrapper {
    margin-top: 15vh;
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    width: 90%;
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainTxt {
    max-width: 37%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

}

.mainTxt h1 {
    color: black;
    font-size: 64px;
    margin: auto;
}

.mainTxt span {
    color: #2559D2;
}

.mainTxt p {
    font-size: 20px;
    color: #D9D9D9;
}

.mainPic {
    max-width: 70%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainPic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button {
    width: 384px;
    height: 81px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2559D2;
    border-radius: 10px;
    cursor: pointer;
}

.button h1 {
    color: #ffff;
    font-size: 20px;
    margin: 0;
}

.footer {
    margin-top: 40px;
    align-self: flex-end;
}

.footer h2 {
    font-size: 16px;
    color: #000000;
    opacity: 60%;
}

.cardWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsContainer {
    width: 90%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.cardsHeader {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.cardsTxt {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

.cardsTitle {

    display: flex;
    justify-content: space-around;
}

.cardsP {
    width: 70%;

}

.cardsTxt h1 {
    font-size: 40px;
    color: black;
    margin: 0;
}

.cardsTxt p {
    font-size: 16px;
    color: black;
    opacity: 60%;
    margin: 0;
}

.CardBtn {
    width: 280px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    background-color: #2559D2;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
}

.CardBtn h1 {
    color: #ffff;
    font-size: 16px;

}

.cards {
    width: 90%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card {
    width: 30%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-color: #ffff;
    border-radius: 10px;
    background-size: cover;
    background-position: top;

}

.card-content {

    width: 90%;
    height: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cardTxt {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    overflow: hidden;
    gap: 5px;
}

.cardTxt h2 {
    font-size: 24px;
    color: #ffff;
    margin: 0;
}

.cardTxt p {
    font-size: 14px;
    color: #ffff;
    margin: 0;
}



.leaderWrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cardsHeader {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.leaderContainer {
    width: 80%;
    height: 80%;
    background-color: #2559D2;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    overflow: hidden;
}

.leaderTitle {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.leaderTitle h1 {
    font-size: 40px;
    margin: 0;
    color: #ffff;
    font-weight: 700;
    line-height: 52px;
}

.leaderTitle p {
    font-size: 16px;
    color: #ffff;
    opacity: 60%;
    font-weight: 400;
    line-height: 20.8px;
    text-align: center;
}

.leaderBoard {
    overflow-y: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.user {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
    background-color: #ffff;
    border-radius: 5px;
    box-shadow: 0 0 10px 1px rgb(255, 255, 255);
}

.userPlace p {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.8px;
    overflow: hidden;
}

.user h2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    overflow: hidden;
}

.userInfo {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

.userName {
    min-width: 40%;

}

.userInfo p {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.8px;
    overflow: hidden;
}

.userScore {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.secondUser {
    width: 60%;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {


    .navbar {
        display: none;
    }


    .navRegister {
        width: 50%;
    }

    .navRegg {
        display: none;
    }


    .navRegister h1 {
        font-size: 10px;
    }

    .mainWrapper {
        height: 60vh;
        ;
    }

    .main {

        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .mainTxt {
        max-width: 100%;
        height: auto;
        justify-content: space-around;
        align-items: center;
    }

    .mainPic {
        max-width: 100%;
        height: auto;
        justify-content: flex-start;
    }

    .mainPic img {
        width: 80%;
    }

    .mainTxt h1 {
        font-size: 24px;
        text-align: center;
    }

    .mainTxt p {
        font-size: 12px;
    }

    .button {
        width: 207px;
        height: 41px;
        overflow: hidden;
    }

    .button h1 {
        font-size: 16px;
    }

    .footer {
        display: none;
    }



    .cardsContainer {
        justify-content: space-between;
    }

    .CardBtn {
        display: none;
    }

    .cardsP {
        width: auto;
        height: auto;
        overflow: hidden;
    }

    .cardsTxt {
        align-items: center;
    }

    .cardsTxt h1 {
        font-size: 20px;

    }

    .cardsTxt p {
        font-size: 12px;
        text-align: center;
    }

    .cardsTxt img {
        width: 30px;
        height: 30px;
    }

    .cards {
        width: 100%;
        height: 70%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        overflow: visible;
    }

    .card {
        width: 100%;
        border-radius: 12px;
        overflow: hidden;
    }

    .card:not(:first-child) {
        display: none;
    }

    .card-content {
        width: 80%;
        height: 30%;
    }



    .cardTxt h2 {
        font-size: 24px;
        font-weight: 700;
    }

    .cardTxt p {
        font-size: 16px;
        opacity: 0.8;
    }

    .leaderWrapper {
        height: 80vh;
    }

    .leaderContainer {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .leaderTitle {
        width: 90%;
    }

    .leaderTitle h1 {
        font-size: 20px;
    }

    .leaderTitle p {
        font-size: 12px;
    }

    .leaderBoard {
        width: 90%;
        gap: 20px;
    }

    .userPlace p {
        font-size: 11.12px;
    }

    .user h2 {
        font-size: 11.12px;
    }

    .userScore p {
        font-size: 11.12px;
    }

    .userInfo {
        width: auto;
    }

    .userScore {
        width: auto;
    }

    .user img {
        width: 22.24px;
        height: 22.24px;
    }

    .userInfo {
        width: auto;
        display: flex;
        gap: 10px;
    }

    .secondUser {
        width: 90%;
    }

}